
body {
	font-size: 14px !important;
}

a {
	text-decoration: none !important;
}

.section {
	background-size: cover !important;
}


.nombre {
	font-size: 43px;
}

.fondo {
	background: url('../../img/fondo-2.jpg') no-repeat;
	
    
   
}

 .contenido
    {
        margin-top: 15%;

        @media (max-width: 991px) {
            margin-top: 5%;
        }
        @media (max-width: 1199px) and (min-width:991px) {
            margin-top: 17%;
        }
    }
