.articulos
{
    
        
        h3
        {
            color: white;
            font-size: 20px;
            text-transform: uppercase;
            font-weight: normal;
            
        }
        p 
        {
            color: white;
            font-size: 11px;
            text-align: justify;
        }
        a 
        {
            color: white;
            font-size: 16px;
            text-transform: uppercase;
            text-align: left;
        }
    
    
}