
body {
	font-size: 14px !important;
}

a {
	text-decoration: none !important;
}

.section {
	background-size: cover !important;
	top: 0px !important;
	position: relative;
}

.section-1 {
	background: url('../../img/fondo-1.jpg') no-repeat;
	background-position: 0px -45px;
	position: relative;
	.sect-50 {
		width: 50%;
		height: 100%;
		display: block;
		padding-top: 23%;
		.texto {
			position: relative;
			#titulo-1 {
				font-family: 'RaspoutineDemiBold';
				margin: 0px;
				margin-left: 8%;
				color: #954B97;
			}
			#titulo-2 {
				font-family: 'RaspoutineDemiBold';
				margin: 0px;
				margin-left: 22%;
				color: #954B97; 
			}
			#texto-1 {
				font-family: 'RaspoutineDemiBold';
				color: #fff;
				margin-left: 8%;
				margin-top: 20px;
				margin-bottom: 0px;
			}
			#texto-2 {
				background: url('../../img/icon-radio.png') no-repeat;
				background-position: 0px 0px;
				color: #A2222F;
				font-family: 'RaspoutineDemiBold';
				padding-left: 50px;
				background-size: 36px;
				margin-left: 10%;
				margin-top: 0px;
			}
			#texto-3 {
				font-family: 'BebasNeue';
				color: #fff;
				margin-left: 8%;
				text-transform: uppercase;
				> a {
					color: #954B97;
					text-decoration: none;
				}
			}
		}
		.texto-footer {
			margin-top: 10%;
		}
	}
}

.section-2 {
	background: url('../../img/fondo-2.jpg') no-repeat;
	background-position: 0px -45px;
	position: relative;
	.sect-100 {
		width: 100%;
		height: 100%;
		display: block;
		position: relative;
		padding-top: 11%;
		.sect-50 {
			width: 50%;
			height: 85%;
			display: block;
			position: relative;
			float: left;
			h3 {
				margin: 0px;
				color: #fff;
				font-size: 32px;
				text-align: center;
			}
			.img {
				width: 100%;
				height: 186px;
				background-size: cover !important;
				margin-bottom: 10px;
			}
			p {
				color: #fff;
				font-size: 10px;
				line-height: 11px;
				margin: 5px 0px;
				padding: 3px 0px;

			}
			.img-1 {
				margin-top: 10%;
				margin-left: 11%;
				margin-bottom: 2%;
				width: 400px;
			}
			.img-2 {
				width: 400px;
				margin-left: 11%;
			}
		}
		.padding {
			padding-left: 8%;
			bottom: 3%;
			position: absolute;
		}
		.left {
			left: 50%;
		}
	}
}
.nombre {
	font-size: 43px;
}

