
body {
	font-size: 14px !important;
}

a {
	text-decoration: none !important;
}

.section {
	background-size: cover !important;
	top: 0px !important;
}

.section-1 {
	background: url('../../img/fondo-1.jpg') no-repeat;
	background-position: 0px -50px;
}

.section-2 {
	background: url('../../img/fondo-2.jpg') no-repeat;
	background-position: 0px -50px;
}
.nombre {
	font-size: 43px;
}

